@charset "UTF-8";

.imgBanner {
	display: block;
	margin: auto;
	
}

.divTopo {
	padding: 10px;
}

.divCabecalho {
	padding: 5px;
}

.alinhamentoItens {
	align-items: center;
}

h1{
	font-size: 5em;
	color: #3B3936;
	text-align: center;
}

h2 {
	font-size: 3em;
	color: #3B3936;
	text-align: center;
}